.spFxFieldCust {
  background-color: "[theme:themePrimary, default:#0078d4]";
  color: "[theme:white, default:#ffffff]";
  text-align: center;
  padding: 0.5rem;
}
.red{
  background-color: red;
  width: 100px;
  height: 25px;
  color: white;
}
.green{
  background-color: green;
  width: 100px;
  height: 25px;
  color: white;
}
.yellow{
  background-color: yellow;
  width: 100px;
  height: 25px;
}
